{% extends "layout.html.twig" %}
{% set active = 'admin_clients' %}
{% set active_link = 'admin_clients' %}
{% block page_title %} Clients {% endblock %}

{% block content %}

    <main class="no-bg">
        <div class="container">
            <div class="row">
                {# Navigation de l'admin#}
                {% include "admin/adminComp/_navigation.html.twig" %}

                <div class=" col-xs-12 col-md-8">

                    <div class="content-box-header">
                        <div class="panel-title titre-moncompte">
                            <h1>Customer</h1>
                        </div>
                    </div>
                    <div class="oeuvre content-box-large box-with-header">

                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ customer.id }}</td>
                            </tr>
                            <tr>
                                <th>Adress</th>
                                <td>{{ customer.adress }}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>{{ customer.city }}</td>
                            </tr>
                            <tr>
                                <th>Country</th>
                                <td>{{ customer.country }}</td>
                            </tr>
                            <tr>
                                <th>PostalCode</th>
                                <td>{{ customer.postalCode }}</td>
                            </tr>
                            <tr>
                                <th>Firstname</th>
                                <td>{{ customer.firstname }}</td>
                            </tr>
                            <tr>
                                <th>Lastname</th>
                                <td>{{ customer.lastname }}</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>{{ customer.phone }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ customer.email }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <button class="bouton-modifier" >
                            <a href="{{ path('customer_edit', {'id': customer.id}) }}" style="color: white;float: right">edit</a>
                        </button>

                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>
        </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}