<section id="dashboard">

    <div class="container">
    
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12 col-md-4 sidebar" style="position: static">

                    <div class=" content-box">

                        <ul class="nav animated fadeIn">
                            <!-- Main menu -->
                            <li><a id="monCompteAdmin" href="{{ path('admin_index') }}"><i class="glyphicon glyphicon-home"></i> Tableau de Bord</a></li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li><a href="{{ path('user_new') }}"><i class="glyphicon glyphicon-plus vert"></i> Nouveau commercial</a></li>
                            {% endif %}
                            <li><a href="{{ path('project_new') }}"><i class="glyphicon glyphicon-plus bleu"></i> Nouveau projet</a></li>
                            <li><a href="{{ path('customer_index') }}"><i class="glyphicon glyphicon-user bleu"></i> Lister les clients</a></li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li><a href="{{ path('user_index') }}"><i class="glyphicon glyphicon-user vert"></i> Lister les Commerciaux</a></li>
                            {% endif %}
                            <li><a href="{{ path('project_index') }}"><i class="glyphicon glyphicon-record vert"></i> Lister les projets</a></li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li><a href=""><i class="fas fa-tools"></i> Gérer les entités</a></li>
                            {% endif %}
                            <li><a href=""><i class="glyphicon glyphicon-edit"></i>Modifier les informations de mon compte</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-random bleu"></i> Changer de mot de passe </a></li>
                        </ul>

                    </div>

                </div>
       