{% extends "layout.html.twig" %}
{% set active = 'commerciaux' %}
{% set active_link = 'commerciaux' %}
{% block page_title %} Commerciaux {% endblock %}

{% block content %}

    <main class="no-bg">
        <div class="container">
            <div class="row">
                {# Navigation de l'admin#}
                {% include "admin/adminComp/_navigation.html.twig" %}

                <div class=" col-xs-12 col-md-8">

                    <div class="content-box-header">
                        <div class="panel-title titre-moncompte"> <h2>Commerciaux</h2></div>
                    </div>
                    <div class="oeuvre content-box-large box-with-header">
                        <table class="table table-striped clients_table JQuery_table">
                            <thead>
                            <tr>
                                <th>Email</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Phone</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.firstname }}</td>
                                    <td>{{ user.lastname }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>
                                        <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                                        <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="12">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        </div>
        </section>
        </div>
        </div>
    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
